node_modules
.env
coverage
coverage.json
typechain
deployments/*/solcInputs
deployments/*/.chainId


#Hardhat files
hh-cache
artifacts

cache

.DS_STORE
target
out.json

fmt/testdata/*

.dapple
build
out